 <!-- Footer Section start -->
 <div class="container-fluid p-0 footer pt-4">
    <footer class="text-white text-center text-lg-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 block_title"><span>ABOUT US</span></h5>
 
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>

            <div class="mt-4">

              <a type="button" class="btn btn-floating  btn-lg" style="background: #35b9dd; color:white;"
                href="https://www.facebook.com/harshit.sahu.5648/"><i class="fab fa-facebook-f"></i></a>
              <!-- Facebook -->
              <a type="button" class="btn btn-floating  btn-lg" style="background: #35b9dd; color:white;"><i
                  class="fa-brands fa-instagram"></i></a>
              <!-- Instagram -->
              <a type="button" class="btn btn-floating  btn-lg" style="background: #35b9dd; color:white;"
                href="https://twitter.com/Harshit64946181"><i class="fab fa-twitter"></i></a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating  btn-lg" style="background: #35b9dd; color:white;"
                href="https://www.linkedin.com/in/himanshu-sahu-b9463a17a/"><i class="fa-brands fa-linkedin"></i></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
            <h5 class="text-uppercase mb-4 pb-1 block_title"><span>CONTACT</span></h5>

            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Gole ka mandir, Station road</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">admissionmits@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+91 8871482503 </span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+91 8871482503</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 block_title"><span>Opening hours</span></h5>

            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1pm</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright section -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://www.linkedin.com/in/">Shalini Bhadoriya</a>
      </div><!-- Copyright -->
    </footer>

  </div><!-- Container-fluid end -->
  <!-- Footer Section end -->

</body>
</html>