*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
.register_logo{
  margin:auto;
}
.regs_heading{
  letter-spacing: 1px;
  font-weight: 600;
  color: #12587a;
  font-size: 30px;
}
.navbar {
  /*background: #00000063!important;*/
  background: rgba(0,0,0,0.5);
  
}
.header {
  -webkit-box-shadow: 0px 24px 35px -37px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 24px 35px -37px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 24px 35px -37px rgba(0, 0, 0, 0.75);
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: white;
  font-weight: 600;
  font-size: 21px;
}
.mob_logo {
  display: none;
}
.navbar-nav li a:hover {
  font-weight: 600;
  font-size: 21px;
  color: #ffff;
  background: #35b9dd;
  border-radius: 4px;
  transition: 0.3s;
}
.navbar-nav .nav-link.active{
  color: #ffff!important;
  background: #35b9dd;
}
.user {
  font-weight: 600;
  font-size: 21px;
  color: #ffff;
  background: #35b9dd;
  border-radius: 4px;
}

/* =========================================================== */
/* Dashbord CSS */
.dashpage{
  padding-top: 135px;
}
.course_para{
  font-size: 20px;
  font-family: 'Droid Serif', sans-serif;
  font-weight: 600px;
}
.course_heading {
  text-transform: uppercase;
  font-size: 40px;
  position: relative;
  font-family: 'prague',sans-serif;
  text-align: center;
  font-weight: bold;
}

.card:hover{
  -webkit-box-shadow: 10px 10px 100px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 100px -30px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 100px -30px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  color: #fff;
}
.card1:hover{
  background: #f9b81e;
}
.card2:hover{
  background: #37a2a7;
}
.card3:hover{
  background: #fb7576;
}
.card4:hover{
  background: #00adef;
}
.card5:hover{
  background: #eb8332;
}
.card6:hover{
  background: #4ca0b6;
}
.card-text:hover{
  color: #fff;
}
.cors{
  background: #35b9dd !important;
  color: #fff !important;
  padding: 10px 20px;
}
/* ============================================================================ */
/* Registration Page CSS */
#registration{
  margin-top: 120px;
}

.submit{
  border-radius:30px;
  padding:10px 25px;
  border: 0;
  color: white;
  background: orange;
}
.submit:hover{
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid;
  color: #ed5a25;
}
label{
  color: #a2a2a2;
}
/* ================================================================== */
/* View page */
.action-btn{
  background-color: #029477;
  border-radius: 12px;
  margin-right: 5px;
  border: 0;
}
.trb:nth-child(odd){
  background-color: #eeeeee;
}
.viewcourse{
  padding-top: 150px;
}
.backdash{
  text-decoration: none;
  color: #ffff;
  background-color: #ffc107;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
}
.backdash:hover{
  font-size: 18px;
  color: #fff;
  transition: 0.5s;
}
/* Footer css */
.footer{
  background: #35b9dd;
}
@media (max-width: 768px) {
  .mob_logo {
    display: block;
  }
  .desk_logo {
    display: none;
  }
  .navbar {
    background: #2b3e4e;
  }
  .navbar-nav li {
    text-align: end;
    text-align: center;
  }
  .navbar-toggler {
    margin-right: 15px;
  }
}

/* =================================================================== */
/* Contact form */
